# Ignore node_modules directory
node_modules

# Ignore vendor directory (dependencies will be installed in the container)
vendor

# Ignore environment files (these should be set up in the container or use docker-compose secrets)
.env
.env.*

# Ignore compiled files and caches
bootstrap/cache/*
storage/*.key
storage/app/*
storage/framework/*
storage/logs/*
public/storage

# Ignore Git files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore IDE configuration files
.idea
.vscode

# Ignore system files
.DS_Store
Thumbs.db
